body, table {
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 19px;
}

html, body, div, span, h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#body {
    padding: 24px 20px 20px 25px;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 100, 0.5) 0 2px 8px;
    max-width: 980px;
    min-height: 630px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background-color: white;
}

#body.no-sidebox {
    max-width: 705px;
}


h1, h2, h3 {
	font-family: 'Klavika Medium', sans-serif;
	font-stretch: 70%;
}

h1 {
	margin-bottom: 24px;
	font-size: 28px;
    padding-bottom: 3px;
}

h2 {
	font-size: 18px;
	height: 24px;
	margin-top: 40px;
}

a, a:visited {
	color: rgb(138, 29, 44);
	text-decoration: none;
}

.toc a, .toc a:visited {
    color: black;
}

.toc td {
    vertical-align: top;
    padding-left: 20px;
    padding-bottom: 20px;
}

.toc th {
    vertical-align: top;
    padding-bottom: 16px;
}

.toc tr { 
    display: block;
    margin-bottom: 15px;
}

.toc h2 {
    margin-top: 8px;
}

#col1, #col2 {
    width: 48%;
}

#col1 {
    float: left;
}

#col2 {
    float: right;
}
#header {
	background-color: #681d1d; /*#b4162c;
	background-image: -webkit-linear-gradient(left, #b4162c 0%, #b4162c 50%, #8b1221 100%);
	background-image: -moz-linear-gradient(left, #b4162c 0%, #b4162c 50%, #8b1221 100%);
    background-image: -o-linear-gradient(left, #b4162c 0%, #b4162c 50%, #8b1221 100%);
    background-image: linear-gradient(left, #b4162c 0%, #b4162c 50%, #8b1221 100%);*/
    position: relative;
    display: block;
    height: 40px; /*90px;*/
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.74902) 0px 0px 15px 0px;
    margin-bottom: 25px;
}

#header #menu {
    max-width: 980px;
    margin: 0 auto 0px auto;
}

#header a, #header a:visited {
    color: white;
    margin: 0 20px 0 20px;
}

#header-left {
    font-size: 20px;
}

#header-left a, #header-left a:visited {
    padding: 3px 28px 3px 28px;
    margin-left: 32px;
    background-color: #822323;
    border-radius: 4px;
}

#header-right {
    font-size: 16px;
    float: right;
    margin-right: 40px;
}

#main {
    max-width: 620px;
    min-width: 320px;
    margin: 8px 0 0 275px;
}

.no-sidebox #main {
    max-width: 620px;
    min-width: 320px;
    margin-left: 20px;
}

#sidebox {
    float: left;
    padding: 10px 10px 10px 15px;
    width: 230px;
    background-color: #f8f8f8;
    border-radius: 6px;
}

#sidebox p {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 22px ;
    text-indent: -22px ;
}

#sidebox h2 {
    font-weight: medium;
    font-size: 14px;
    color: rgb(180, 22, 44);
    margin-top: 40px;
}

#footer {
    text-align: center;
    width: auto;
}

#footer p {
    font-size: 12px;
    margin: 2px;
}

#thumb {
}

.clear { 
    clear: both; 
    height: 1px;}

#sidebar-toggle-checkbox {
    display: none;
}

#sidebar-toggle {
    display: none;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

@media (max-width: 630px) {
    #sidebar-toggle {
        display: block;
    }

    input + label + #sidebox {
        display: none !important;
    }

    input + label .arrow {
      border-top: 5px solid black;
      border-bottom: 0;
    }

    input:checked + label + #sidebox{
        display: block !important;
        width: 300px;
        position: absolute;
        border: 1px solid #ccc;
        top: 110px;
    }
    input:checked + label .arrow {
        border-top: 0;
        border-bottom: 5px solid black;
    }

    #main {
        margin: 20px 0 0 0;
        float: left;
    }
}
